:global: # This tag distinguishes the global config from the per-test configs; *do not remove*
  :site:
    :class: TestGithub
    :url: https://github.com
  :browser:
    :type: remote		# Local or remote
    :browser: chrome	# Which browser to use; "ie", "chrome", and "firefox" are definitely valid, there may be others
    :port: 4444		# If remote, port to connect to the selenium server, otherwise ignored
    # These options would normally only be used with something like
    # SauceLabs
    # :url: "http://rlpowell:[snip]@ondemand.saucelabs.com:80/wd/hub" # The URL Sauce gives you
    # :version: 27  # The browser version to use
    # :platform: 'Windows 7' # The OS to use
    # :idle_timeout: 600 # Sauce specific
    # :max_duration: 5400 # Sauce specific
  :verbose: false       # Whether to engage in more verbose/info level logging
  :debug: false	        # Whether to engage in debug logging
  :screenshots: false   # Whether, if debugging is on, to create screenshots as part of the replay log
  :thumbnails: false	# Whether, if screenshots are on, to create small-ish "thumbnail" pictures on the replay page; requires the imagemagick system package and the mini_magick gem
  :cache: false  # Whether, by default, to cache elements, significantly improving performance.   For individual elements, caching can be disabled by adding ":cache => false" to the element specifier.
