:global: # This tag distinguishes the global config from the per-test configs; *do not remove*
  :site:
    :class: TestGithub
    :url: https://github.com
  :browser:
    :type: remote		# Local or remote
    :browser: chrome	# Which browser to use
    :port: 4444		# If remote, port to connect to the selenimu server, otherwise ignored
  :verbose: false       # Whether to engage in more verbose/info level logging
  :debug: false	        # Whether to engage in debug logging
  :screenshots: false   # Whether, if debugging is on, to create screenshots as part of the replay log
  :thumbnails: false	# Whether, if screenshots are on, to create small-ish "thumbnail" pictures on the replay page; requires the imagemagick system package and the mini_magick gem
  :cache: false  # Whether, by default, to cache elements, significantly improving performance.   For individual elements, caching can be disabled by adding ":cache => false" to the element specifier.
